/* Theme */
.light-mode{
  background-color: var(--color-very-light-gray);
}

.light-mode *{
  color: var(--color-very-dark-blue-text);
}

.header.light-mode{
  box-shadow: 0 0 5px 0 rgb(155, 155, 155);
}

.country.light-mode{
  background-color: var(--color-white);
}

.dark-mode{
  background-color: var(--color-very-dark-blue);
}
.dark-mode > *,
.dark-mode > input::placeholder{
  color: var(--color-white);
}

.item.dark-mode{
  background-color: var(--color-dark-blue);
}